<div class="register-component">
  <div class="frosted-blur">
    <button class="toggle-button" (click)="toggleForm()">{{ showLogin ? 'Register' : 'Login' }}</button>
    <div class="container">
      <div class="form-container">
        <div *ngIf="!showLogin">
          <div class="icon">
            <mat-icon class="large-icon">admin_panel_settings</mat-icon>
          </div>
        <h1>Request Administrator Access</h1>
        <form [formGroup]="registerForm" (ngSubmit)="register()">
          <input type="text" formControlName="name" placeholder="Your Name" required>
          <input type="text" formControlName="email" placeholder="Your Email" required>
          <input type="password" formControlName="password" placeholder="Your Password" required>
          <button class="submit-button" type="submit" mat-stroked-button>Submit</button>
        </form>
      </div>
      <div *ngIf="showLogin">
        <div class="icon">
          <mat-icon class="large-icon">login</mat-icon>
        </div>
        <h1>Administrator Login</h1>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <input type="text" formControlName="email" placeholder="Your Email" required>
          <input type="password" formControlName="password" placeholder="Your Password" required>
          <button class="submit-button" type="submit" mat-stroked-button>Login</button>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
