@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.header {
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0);
  font-family: 'Poppins';
  height: 100px;
  position: relative;
  overflow: visible; /* Ensure overflow is visible */
}

.header .sidenav-container {
  height: calc(100%);
  width: 100%;
  background-color: transparent;
  overflow: visible; /* Ensure overflow is visible */
}

.header .transparent-toolbar {
  background-color: transparent;
  color: #25274d;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-shadow: none;
  padding: 0 15px;
  position: relative;
  overflow: visible; /* Ensure overflow is visible */
}

.header .toolbar-name {
  font-family: 'Poppins';
  font-size: 2.5em;
  font-weight: 800;
  padding-left: 120px;
  padding-top: 20px;
  color: #25274d;
  text-shadow: 2px 2px 4px rgba(66, 66, 66, 0.1);
  transition: transform 0.3s ease;
  position: absolute;
  overflow: visible; /* Ensure overflow is visible */
}

.header .toolbar-name:hover {
  transform: scale(1.05);
}

.header .menu-button {
  position: fixed;
  top: 1%;
  right: 1%;
  z-index: 1050;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #25274d;
  border: none;
  background: none;
  padding: 5px;
  outline: none;
  text-shadow: 2px 2px 4px rgba(66, 66, 66, 0.1);
  overflow: visible; /* Ensure overflow is visible */
}

.header .menu-button .light-icon {
  color: #2e9cca;
}

.header .light-text {
  color: #ccc;
}

.header .headerLink.active .headerLink:hover {
  background-color: rgba(70, 72, 102, 0.1);
}

.header .menu-button {
  transition: transform 0.3s ease;
}

.header .menu-button.rotate-icon {
  transform: rotate(90deg);
}

.header .rotate-icon {
  transition: transform 0.3s ease;
  transform: rotate(90deg);
}

.header .mat-sidenav-container .mat-sidenav-backdrop .mat-sidenav-shown {
  background-color: rgba(0, 0, 0, 0) !important;
}

.header .headerList {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 40%;
  text-align: left;
  width: 100%;
  z-index: 900;
}

.header .headerListItem {
  width: 100%;
  margin-bottom: 15px;
  text-align: left;
}

.header .headerLink {
  display: flex;
  align-items: left;
  text-align: left;
  padding: 15px 20px;
  width: 100%;
  font-size: 0.9em;
  font-weight: 600;
  color: #25274d;
  text-decoration: none;
  border-radius: 5px;
  text-shadow: 2px 2px 4px rgba(66, 66, 66, 0.1);
  font-family: 'Poppins';
  overflow: visible; /* Ensure overflow is visible */
}

.header .large-icon {
  margin-right: 13px;
  color: #25274d;
  font-size: 24px;
  text-shadow: 2px 2px 4px #4242421a;
  overflow: visible; /* Ensure overflow is visible */
}

.header .large-icon-light {
  margin-right: 13px;
  color: #2e9cca;
  font-size: 24px;
  text-shadow: 2px 2px 4px #4242421a;
  overflow: visible; /* Ensure overflow is visible */
}

@media (min-width: 1201px) {

  .header .menu-button mat-icon {
    font-size: 1.5em;
    width: auto;
    height: auto;
    z-index: 1000;
  }

  .header .sidenav {
    background-color: transparent;
    z-index: 1000;
    position: fixed;
    box-shadow: none;
    backdrop-filter: blur(80px);
    border-bottom-left-radius: 15px;
    height: fit-content;
    text-align: left;
  }
}

/* Media Queries */
@media (max-width: 1200px) {
  .header .toolbar-name {
    padding-left: 60px;
    font-size: 2em;
  }

  .header .sidenav {
    background-color: transparent;
    z-index: 1000;
    position: fixed;
    box-shadow: none;
    backdrop-filter: blur(80px);
    border-bottom-left-radius: 15px;
    height: fit-content;
    text-align: left;
  }


  .header .menu-button mat-icon {
    top: 1.5%;
    right: 1.5%;
    font-size: 1.2em;
  }

}

@media (max-width: 992px) {
  .header .toolbar-name {
    padding-left: 30px;
    font-size: 1.5em;
  }

  .header .sidenav {
    background-color: #888282;
    z-index: 1000;
    position: fixed;
    box-shadow: none;
    border-bottom-left-radius: 10px;
    height: fit-content;
    text-align: left;
  }

  .header .menu-button mat-icon {
    top: 1.5%;
    right: 1.5%;
    font-size: 1.2em;
  }
}

@media (max-width: 768px) {
  .header {
    height: 80px;
  }

  .header .sidenav {
    background-color: #888282;
    z-index: 1000;
    position: fixed;
    box-shadow: none;
    border-bottom-left-radius: 10px;
    height: fit-content;
    text-align: left;
  }

  .header .toolbar-name {
    padding-left: 15px;
    font-size: 1.2em;
  }

  .header .menu-button mat-icon {
    top: 1.5%;
    right: 1.5%;
    font-size: 1.2em;
  }

  .header .headerLink {
    padding: 10px 15px;
    font-size: 0.8em;
  }
}

@media (max-width: 576px) {
  .header {
    height: 60px;
  }

  .header .sidenav {
    background-color: #888282;
    z-index: 1000;
    position: fixed;
    box-shadow: none;
    border-bottom-left-radius: 10px;
    height: fit-content;
    text-align: left;
  }

  .header .toolbar-name {
    padding-left: 10px;
    font-size: 1em;
  }

  .header .menu-button mat-icon {
    top: 2%;
    right: 2.3%;
    font-size: 1em;
  }

  .header .headerLink {
    padding: 8px 10px;
    font-size: 0.7em;
  }
}

@media (max-width: 576px) {
  .header {
    height: 60px;
  }

  .header .sidenav {
    background-color: #888282;
    z-index: 1000;
    position: fixed;
    box-shadow: none;
    border-bottom-left-radius: 10px;
    height: fit-content;
    text-align: left;
  }

  .header .toolbar-name {
    padding-left: 2.3%;
    font-size: 0.8em;
    margin-bottom: 5%;
  }

  .header .menu-button mat-icon {
    top: 2%;
    right: 2.3%;
    font-size: 1em;
  }

  .header .headerLink {
    padding: 8px 10px;
    font-size: 0.5em;
  }

  .header .headerLink span {
    padding: 8px 10px;
    font-size: 0.5em;
    visibility: hidden;
  }

  .header .headerList {
    padding-top: 60%;
  }

  .header .headerList mat-icon {
    font-size: 2.5em;
    align-items: left;
    margin-right: -70%;
    justify-content: left;
    text-align: left;
    padding: 0%;
  }
}
