.homepage .about .my-place {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color:#25274d;
  margin-left: 5%;
  margin-right: 5%;
}


.homepage .about .image-container img {
  width: 100%;
  height: 100%;
  margin-top: -20px;
  object-fit: contain;
  display: block;
  transition: transform 0.3s ease;
  transform-style: preserve-3d;
}


.homepage .about .image-container {
  perspective: 1000px; /* Add perspective to make the 3D effect more noticeable */
}



.homepage .about .my-place .image-container {
  width: 40%;
  align-self: flex-start;
}

.homepage .about .my-place .text-section {
  align-self: flex-start;
  text-align: left;
  width: 80%;

}

.homepage .about .section-header h2 {
  font-size: 1em;
  font-family: 'Poppins';
  color: #AAABB8;
  font-weight: 700;
  text-align: left;
  padding-top: 5%;
  padding-bottom: 3%;
}

.homepage .about .section-header-center h2 {
  font-size: 4em;
  font-family: 'Poppins';
  color: #AAABB8;
  font-weight: 700;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 3%;
}

.homepage .about .section-header p {
  text-align: left;
  font-weight: 700;
}

.homepage .about .image-descriptions {
  min-height: 75px;
  font-size: 1.2em;
  font-family: 'Poppins';
  color: #AAABB8;
  font-weight: 500;
  text-align: justify;
  overflow: auto;
  padding-left: 30px;
}

.homepage .about .sub-heading {
  min-height: 75px;
  font-size: 1.5em;
  font-family: 'Poppins';
  color: #AAABB8;
  font-weight: 500;
  text-align: center;
  overflow: auto;
  margin-bottom: -3%;
  padding-left: 30px;
}


.homepage .about button {
  padding: 15px 30px;
  margin-top: 0px;
  background-color: #464866;
  color: #aaabb8;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Poppins';
  cursor: pointer;
  outline: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.homepage .about button:hover, .homepage .about button:focus {
  background-color: #aaabb8;
  color: #464866;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.homepage .about button:active {
  background-color: #004080;
  transform: translateY(2px);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}


@media screen and (max-width: 768px) {
  .homepage .about .my-place {
    flex-direction: column;
  }
}


.homepage .about .nav-tabs {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  list-style-type: none;
  padding-left: 30px;
  font-size: 1.5em;
  font-family: 'Poppins';
  color: #29648a;

}


.homepage .about .nav-tabs .nav-item {
  margin: 0% 3%;
}


.homepage .about .nav-tabs .nav-link {
  font-weight: bold;
  padding: 0.5rem 1rem;
  margin-bottom: 3px;
  cursor: pointer;
  display: block;
  text-align: center;
  color: inherit;
}

.homepage .about .nav-tabs .nav-link.active {
  color: #2e9cca;
  border-bottom: 4px solid #2e9cca;
}

.homepage .about .nav-tabs .nav-link:hover {
  background-color: transparent;
  border-color: transparent;
  color: #2e9cca;
}

.homepage .about .header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  margin-bottom: 20px;
}

.homepage .about .header-row-no-margin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  margin-bottom: 0px;
}


.homepage .about .my-place  {
  margin-bottom: 5%;
}

.homepage .about .my-place .text-section .small-section {
  display: flex;
}

.homepage .about .my-place .text-section .small-section .small-section-left {
  margin-left: 10%;
}

.homepage .about .my-place .text-section .small-section .small-section-right {
  margin-right: 10%;
}

.homepage .about .my-place .text-section .small-section .small-section-left,
.homepage .about .my-place .text-section .small-section .small-section-right {
  flex: 1;
  align-self: flex-start;
  text-align: center !important;
}

.homepage .about .my-place .text-section .small-section .small-section-left p,
.homepage .about .my-place .text-section .small-section .small-section-right p {
  text-align: center !important;
}

.homepage .section-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  gap: 5%;
}

/* ---------------------------------- */

.homepage .full-column {
  width: auto;
  padding: 0px 0px;
  border-radius: 0px;
  margin-bottom: 0px;
  margin-left: 7%;
  margin-right: 7%;
}

.homepage .left-column {
  flex: 1;
  padding: 0px;
}

.tech-stack.ng-star-inserted {
  margin-right: 17%;
}

.homepage .right-column {
  flex: 1;
  padding: 0px;
}

.homepage .my-place .text-section .education {
  font-family: 'Poppins';
  color: #AAABB8;
  margin-left: 5%;
}

.homepage .my-place .text-section .education h1 {
  font-weight: 800;
  font-size: 12pt;
  line-height: 0.5;
  color: #2e9cca;
}

.homepage .my-place .text-section .education h2 {
  font-weight: 600;
  font-size: 10pt;
  line-height: 0.1;
  color: #2e9cca;
}

.homepage .my-place .text-section .education h3 {
  font-weight: 800;
  font-size: 10pt;
  font-style: oblique;
  line-height: 0.1;
}

.homepage .my-place .text-section .education p,
.homepage .my-place .text-section .education ol,
.homepage .my-place .text-section .education li {
  font-weight: 800;
  font-size: 8pt;
}

.homepage .my-place .text-section .education ol,
.homepage .my-place .text-section .education li {
  font-weight: 800;
  font-size: 8pt;
  line-height: 1.7;
}

/* Tech Stack Section */

.homepage .my-place .text-section .tech-stack {
  font-family: 'Poppins';
  color: #AAABB8;
}

.homepage .my-place .text-section .tech-stack .section-container .section {
    flex: 1; /* Each section takes up equal space */
    min-width: 150px; /* Minimum width of each section */
    padding: 0px;
}

.homepage .my-place .text-section .tech-stack  h1 {
  font-weight: 800;
  font-size: 12pt;
  line-height: 0.5;
  color: #2e9cca;
  text-align: center;
}

.homepage .my-place .text-section .tech-stack  p {
  font-weight: 800;
  font-size: 8pt;
  text-align: center;
}

/* Leadership Section */

.homepage .my-place .text-section .leadership {
  font-family: 'Poppins';
  color: #AAABB8;
}

.homepage .my-place .text-section .leadership  .header-row {
  margin-bottom: 0px;
}

.homepage .my-place .text-section .leadership  h1 {
  font-weight: 800;
  font-size: 12pt;
  line-height: 0.5;
  color: #2e9cca;
}

.homepage .my-place .text-section .leadership  .header-row {
  margin-bottom: 1em;
}

.homepage .my-place .text-section .leadership  h2 {
  font-weight: 600;
  font-size: 10pt;
  line-height: 0.1;
  color: #AAABB8;
}

/* Professional Section */

.homepage .my-place .text-section .professional {
  font-family: 'Poppins';
  color: #AAABB8;
}

.homepage .my-place .text-section .professional h1 {
  font-weight: 800;
  font-size: 12pt;
  line-height: 0.5;
  color: #2e9cca;
}

.homepage .my-place .text-section .professional .header-row-no-margin {
  margin-bottom: 0em;
}

.homepage .my-place .text-section .professional .header-row {
  margin-bottom: 1em;
}

.homepage .my-place .text-section .professional h2 {
  font-weight: 600;
  font-size: 10pt;
  line-height: 0.1;
  color: #AAABB8;
}
